
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    
  }

img{
    margin:auto;
    max-width: 100%;
}

hr{
    width: 25%;
}
nav{
    margin: auto;
    max-width: 100%;
    background-color: gray;
    border: solid gray;
    list-style:none;
    text-align:center;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

nav ul{
    padding: 0px;
}

nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #fc7676;
    background-color: white;
    border-radius: 2px; 
    text-decoration: underline; 
}

#currentpage{
    color: #fc7676;
}

#currentpage:hover{
    background-color: transparent;
    border-radius: 0px; 
    text-decoration: none;
}

.content{
    color: gray;
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content h2{
    color: #fc7676;
    font-size: 1.875em;
    padding-left: 4vw;
    padding-right: 4vw;
}

.content p{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 0.875em;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 1vw;
}

.content img{
    object-fit: cover;
}

.content table{
    border-collapse: collapse;
    width: 75%;
    text-align: left;
    margin-left:auto; 
    margin-right:auto;
}
  
.content td, th {
    
    background-color: white;
    padding: 8px;
  }
  
.content th {
    background-color: #fc7676;
    color:white;
}
  
.content ul{
    font-size:  0.875em;
    padding: 0px;
    text-align: left;
    width: 20%;
    align-self: center;
    display: inline-block;
}

#contact{
    width: 25%;
}

#note{
    font-size: 0.5em;
}
